.item {
    padding: 0.5em;
    display: flex;
    gap: 1em;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item__avatar {
    width: 35px;
    height: 35px;
    margin: auto 0;
    border-radius: 50%;
}
.item__username {
    font-weight: 600;
}
.item__title {
    color: rgb(0, 52, 209);
}
/* .item__title:visited {
    color: rgb(0, 52, 209);
} */